slurm_out/
*.log
*.pt
__pycache__/inference_script.cpython-38.pyc
__pycache__/temp_model.cpython-38.pyc	
__pycache__/thermodrift_model.cpython-38.pyc
__pycache__/temp_model.cpython-38.pyc
model/inference_script_updated.py
model_eval/__pycache__/
model/__pycache__/
__pycache__/*
*.out
slurm_out/
*.pt
*.fasta
data_*
experiments/save_model/
data/train_embs.pkl
