slurm_out/
*.log
*.pt
__pycache__/inference_script.cpython-38.pyc
__pycache__/temp_model.cpython-38.pyc	
__pycache__/thermodrift_model.cpython-38.pyc
__pycache__/temp_model.cpython-38.pyc
.gitignore
model/inference_script_updated.py
model_eval/__pycache__/
model/__pycache__/
__pycache__/*
experiments/
train.log
model_eval/20220429_analysis_test.txt
model_eval/20220429_analysis_train.txt
model_eval/datasets
model_eval/figs
model_eval/__pycache__/
